body {
    display: flex;
    flex-direction: row;
    height: 100vh;
    margin: 0px;
    flex: 1;
}

aside {
    background-color: rgb(183, 145, 183);
    width: 200px;
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1;
}

.main-content {
    padding-left: 30px;
    padding-right: 30px;
}


#app-list {
    display: flex;
    flex-direction: row;
    background-color: #f3f3f3;
    height: 200px;
}

.User {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
}

.User-avatar {
    background-color: gray;
    color: white;
    padding: 10px;
    border-radius: 50%;
    margin-left: 15px;
    margin-right: 10px;
}

.Menu span {
    color: rgb(42, 41, 141);
}

.Menu>* {
    width: 188px;
    box-sizing: border-box;
    padding: 5px;
    margin: 6px;
}

.Menu .Selected {
    background-color: rgb(134, 117, 168);
}

.bannerTop {
    background-image:
        url("banner.png");
    background-size: cover;
    background-position: right;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

#featured {
    display: flex;
    flex-direction: row;
    height: 220px;
    border-radius: 8px;
    gap: 20px;
}

.featured1 {
    display: flex;
    flex: 1;
    background-color: rgb(214, 214, 214);
    flex-direction: row;
    border-radius: 8px;
}

.featured-image{
    border-radius: 50%;
    margin-left: auto;
}

.featured2 {
    flex: 1;
    display: flex;
    background-color: rgb(214, 214, 214);
    flex-direction: row;
    border-radius: 8px;
}

#featured>div {
    padding: 6px;
    display: flex;
}