body {
    display: flex;
    flex-direction: row;
    height: 100vh;
    margin: 0
}

aside {
    background-color: rgb(187, 147, 187);
    width: 200px;
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1;
}

#featured {
    display: flex;
    flex-direction: row;
    background-color: aquamarine;
    height: 200px;
}

#app-list {
    display: flex;
    flex-direction: row;
    background-color: #385897;
    height: 200px;
}

.User {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
}

.User-avatar {
    background-color: gray;
    color: white;
    padding: 10px;
    border-radius: 50%;
    margin-left: 15px;
    margin-right: 10px;
}

.Menu span {
    color: aqua;
}

.Menu>* {
    width: 188px;
    box-sizing: border-box;
    padding: 5px;
    margin: 6px;
}

.Menu .Selected {
    background-color: rgb(93, 93, 92);
}

.bannerTop {
    background-image:
        url("banner.png");
    background-size: cover;
    background-position: right;
    width: "300px";
    margin: "0px";
}

#featured1 {
    display: flex;
    flex: 1;
}
.element {
    border-radius: 50%;
}

#featured2 {
    flex: 1;
    display: flex;
}

.flex-gap>div {
    margin: 12px;
}